<div class="row">
    <div class="col-3">
        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="train-booking">Train Booking</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="mobile-recharge">Mobile Recharge</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="dth-recharge">DTH Recharge</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="money-transfer" >Money Transfer</a>
            </li>
          </ul>
    </div>
    <div class="col-9">
        <router-outlet></router-outlet>
    </div>
</div>
