<div class="row">
    <div class="col-4 offset-4">
        <label>Change Message</label>
        <input type="text" class="form-control" [(ngModel)]="message" />
    </div>
</div>
<p>Message: {{message}}</p>

<div *ngIf="isadmin==1;then admin else employee"></div>

<ng-template #admin>You are Admin: </ng-template>

<ng-template #employee>You are Employee:</ng-template>
<button class="bt btn-info" (click)="removeClass()">Remove my class</button>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Age</td>
            <td>Gender</td>
            <td>Amount Balance</td>
            <td>DOB</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cust of customers; index as i">
            <td>{{cust.id}}</td>
            <td>{{cust.name|uppercase}}</td>
            <!-- <td [style.color]="'red'">{{cust.age}}</td> -->
            <!-- <td [ngStyle]="cust.age>30?{'color':'red'}:{color:'green'}">{{cust.age}}</td> -->
 
       <!-- <td [ngStyle]="cust.age>30?Color1():Color2()">{{cust.age}}</td> -->
       <!-- <td [class.text-danger]="cust.age>30">{{cust.age}}</td>
        -->
        <!-- <td [ngClass]="cust.age>30?'text-danger':'text-success'">{{cust.age}}</td> -->
       
        <!-- <td [ngClass]="'text-danger bg-info'">{{cust.age}}</td> -->

        <td [ngClass]="class1()">{{cust.age}}</td>

        <td>{{cust.gender|genderformat}}</td>
        <td>{{cust.amount|currency:'INR'}}</td>
        <td>{{cust.dob|date:'shortDate'}}</td>
        
        <td><a class="btn btn-info btn-sm" (click)="DeleteCustomer(i)">Delete</a></td>
        
        </tr>
    </tbody>
</table>